<html>
<head>
    <link href="~/dist/output.css" rel="stylesheet" type="text/css">
    <link href="~/node_modules/@domchristie/turn/dist/turn.css" rel="stylesheet" type="text/css">
    <script src="~/src/index.js" rel="script" type="module"></script>
</head>

<body class="">
<!-- This example requires Tailwind CSS v3.0+ -->
<div class="bg-indigo-700 overflow-auto" data-turn-enter data-turn-exit>
    <div class="py-24 px-6 sm:px-6 sm:py-32 lg:px-8" >
        <div class="mx-auto max-w-2xl text-center" >
            <h2 class="text-4xl font-bold tracking-tight text-white" data-turn-enter data-turn-exit>Try this page transition</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-indigo-200" >
                This basic example has a grand total of <b class="text-indigo-100">4 lines</b> of js using <a class="text-indigo-100 hover:text-indigo-50 underline" href="https://hotwired.dev/">hotwired/turbo</a> for easy spa-like experience and the extension <a href="https://github.com/domchristie/turn" class="text-indigo-100 hover:text-indigo-50 underline">Turn</a> that hooks into turbo's events to apply transitions on whatever objects you want. 
                It's pretty easy to make your own version of Turn.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6" >
                <a href="./page2.html" class="rounded-md bg-white px-3.5 py-1.5 text-base font-semibold leading-7 text-indigo-600 shadow-sm hover:bg-indigo-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Start transition</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
