<html>
<head>
    <link href="~/dist/output.css" rel="stylesheet" type="text/css">
    <link href="~/node_modules/@domchristie/turn/dist/turn.css" rel="stylesheet" type="text/css">
    <script src="~/src/index.js" rel="script" type="module"></script>
</head>

<body>
<!-- This example requires Tailwind CSS v3.0+ -->
<div class="bg-indigo-700" data-turn-enter data-turn-exit>
    <div class="py-24 px-6 sm:px-6 sm:py-32 lg:px-8 transform transition-all">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-4xl font-bold tracking-tight text-white" data-turn-enter data-turn-exit>Pretty neat huh?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-indigo-200">
                This is pretty neat since it allows us to use whatever animations library we want.
            </p>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-indigo-200">
                Hotwired is pretty well documented and widely used in the Rails community, it works great with all sorts of websites including server-side rendered stuff.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="./index.html" class="text-base font-semibold leading-7 text-white">Go back <span aria-hidden="true">→</span></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
